CMakeLists.txt.user
CMakeLists
Final project CV23_24 - June_July.pdf
videos
OpenCVProject.sln
OpenCVProject.vcxproj
OpenCVProject.vcxproj.filters
OpenCVProject.vcxproj.user
x64
.vs
test
.gitignore
img
videos
